.bar {
    width: 794px;
    padding: 12px 0px;
    background-color: rgb(255, 255, 255);
    border: solid 1px #e6e6e6;
    border-radius: 3px;
    padding-left: 12px;
    margin-bottom: 20px;
}

.bar *:focus {
    outline: rgb(59, 153, 252) auto 5px;
}

.bar:hover {
    box-shadow: 0 4px 24px 0 rgba(0,0,0,.12);
}

.bar__search {
    color: rgb(225, 83, 69);
    border: 0px;
    border-bottom: solid 1px #e6e6e6;
    font-size: 16px;
    padding: 2px;
    margin-left: 4px;
    margin-right: 20px;
}

.bar__select {
    color: rgb(225, 83, 69);
    border: 0px;
    border-bottom: solid 1px #e6e6e6;
    font-size: 16px;
    padding: 2px;
    background-color: rgb(255, 255, 255);
    width: 200px;
    margin-left: 4px;
    cursor: pointer;
    margin-right: 13px;
}

.bar__button {
    width: 114px;
    text-align: left;
    color: rgb(225, 83, 69);
    border: 0px;
    font-size: 16px;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    margin-right: 20px;
}

.bar__liked {
    width: 25px;
    height: 25px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

.bar__liked input {
    opacity: 0;
}

.bar__liked input:focus + label {
    outline: rgb(59, 153, 252) auto 5px;
}

.bar__liked input:checked + label {
    background: no-repeat url('../../../svg/likeOn.svg');
}

.bar__liked label {
    position: absolute;
    right: 0;
    background: no-repeat url('../../../svg/likeOff.svg');
    width: 25px;
    height: 25px;
    display: inline-block;
    cursor: pointer;
}
