.app {
    display: grid;
    justify-content: center;
    margin: 20px 0px;
}

.app__loading {
    display: inline-block;
    width: 100px;
    box-sizing: border-box;
    height: 72vh;
    padding-top: 28vh;
    margin: 0px auto;
}

.app__loading:after {
    content: " ";
    display: block;
    width: 100px;
    height: 100px;
    margin: 1px;
    border-radius: 50%;
    border: 4px solid rgb(225, 83, 69);
    border-color: rgb(225, 83, 69) transparent rgb(225, 83, 69) transparent;
    animation: rotate .7s linear infinite;
}

@keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}
